<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProMan</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css"
          integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
          integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/design.css" rel="stylesheet">
    <link href='../static/css/dragula.css' rel='stylesheet' type='text/css'/>

    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon/favicon.ico" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if user != None %}
        <a class="navbar-brand" href="#">Hello, {{ user }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% endif %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if user == None %}
                <li class="nav-item active">
                    <a class="nav-link" href="/register">Register<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            {% endif %}
            <li class="nav-item active">
                <button type="button" id="create-public-board">New Public Board</button>
            </li>
            {% if user != None %}
                <li class="nav-item active">
                    <button type="button" id="create-private-board">New Private Board</button>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="sidenav">
    <div class="board-container">
        <section class="board">
            <div class="board-header sideboard-title">NEW CARD</div>
            <div class="board-body row">
                <div class="board-column col">
                    <!--<div class="board-column-title">New</div>-->
                    <div class="board-column-content container" id="copycard">
                        <div class="card">
                            <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                            <div class="card-title">NEW CARD</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!--
<div class="board-container">
    <section class="board">
        <div class="board-header"><span class="board-title">Board 1</span>
            <button class="board-add">Add Card</button>
            <button class="board-toggle" type="button" data-toggle="collapse"
                    data-target=".multi-collapse"><i
                    class="fas fa-chevron-down"></i>
            </button>
        </div>
        <div class="board-body row">
            <div class="board-column col collapse multi-collapse" id="multiCollapseExample1">
                <div class="board-column-title">New</div>
                <div class="board-column-content container" id="left-defaults">
                    <div class="card">
                        <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                        <div class="card-title">Card 1</div>
                    </div>
                    <div class="card">
                        <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                        <div class="card-title">Card 2</div>
                    </div>
                </div>
            </div>
            <div class="board-column col collapse multi-collapse" id="multiCollapseExample1">
                <div class="board-column-title">In Progress</div>
                <div class="board-column-content container" id="middle-defaults">
                    <div class="card">
                        <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                        <div class="card-title">Card 4</div>
                    </div>
                    <div class="card">
                        <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                        <div class="card-title">Card 5</div>
                    </div>
                </div>
            </div>
            <div class="board-column col collapse multi-collapse" id="multiCollapseExample1">
                <div class="board-column-title">In Progress</div>
                <div class="board-column-content container" id="right-defaults">
                    <div class="card">
                        <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                        <div class="card-title">Card 1</div>
                    </div>
                    <div class="card">
                        <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                        <div class="card-title">Card 2</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
-->
<script src='../static/js/dragula.js' defer></script>
<!-- <script src='../static/js/example.min.js' defer></script> -->
<script src="../static/js/main.js" type="module"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous" defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous" defer></script>
</body>
</html>