<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Register</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="static/css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" action="/register" method="post" enctype=multipart/form-data>
      <h1 class="h3 mb-3 font-weight-normal">REGISTER</h1>
      <label for="Username" class="sr-only">USERNAME</label>
      <input id="Username" type="text" class="form-control" placeholder="Username" aria-label="Username" name="username" autofocus>
      <label for="inputPassword" class="sr-only">PASSWORD</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
  </body>
</html>
